.btn-transparent {
    background: transparent !important;
    border: 1px solid #9aa9b7; /* Warna border */
    color: #9aa9b7; /* Warna teks */
}

.btn-transparent:hover {
    background: rgba(236, 246, 255, 0.1); /* Efek hover */
}

